---
import Base from '../Base.astro';
import NotFoundText from '../components/NotFoundText';
import SVGIcon from '../components/SVGIcon';
---

<Base title="404" width="small">
	<div class="contentBox">
		<div class="sideBySide">
			<div class="message">
				<h1>404</h1>
				<h2>Not Found</h2>
			</div>
			<div class="returnWrapper">
				<span><NotFoundText client:load /></span>
				<a href="/" class="linkButton">
					<SVGIcon src="/icons/chevron-left.svg" />
					<span>return to home page</span>
				</a>
			</div>
		</div>
	</div>
</Base>

<style lang="scss">
	.sideBySide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4rem;
		box-sizing: border-box;
		padding: 3rem;
	}

	.message {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-size: 8rem;
			font-weight: normal;
			margin: 0;
			margin-top: -1.25rem;
		}

		h2 {
			margin: 0;
			margin-top: -1.5rem;
			margin-bottom: 0.25rem;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
		}
	}

	.returnWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 16rem;
		align-self: stretch;

		> span {
			display: flex;
			align-items: center;
			text-align: center;
			font-style: italic;
			opacity: 0.5;
			flex: 1;
		}

		a {
			display: flex;
			justify-content: center;
			background-color: var(--trim);
      color: var(--box-bg);
			height: var(--content-gap-large);
			align-self: stretch;

      &:is(:hover, :focus-visible) {
        background-color: var(--trim-hover);
      }

			span {
				margin-right: calc(24px + var(--content-gap-small));
			}
		}
	}
</style>