---
import { readFile } from 'node:fs/promises';
import FlavorText from './FlavorText';
import RelativeBuildTime from './RelativeBuildTime';
import SVGIcon from './SVGIcon';

const buildTimeRaw = await readFile(`./public/metadata/buildTime.txt`, { encoding: 'utf-8'});
const revHash = await readFile(`./public/metadata/revHash.txt`, { encoding: 'utf-8'});

const buildTime = new Date(parseInt(buildTimeRaw));

---

<footer>
  <a href="#" class="jumpToStart linkButton">
    <SVGIcon src="/icons/chevron-up.svg" />
    <span>back to top</span>
    <SVGIcon src="/icons/chevron-up.svg" />
  </a>
  <div class="orientationFlipper">
    <div class="copyrightBlock">
      <span>copyright &copy; {new Date().getFullYear()} sharkaccino</span>
      <span>this website is open source! you can check out the repository here:</span>
      <a href="https://github.com/sharkaccino/sharkaccino.com">
        https://github.com/sharkaccino/sharkaccino.com
      </a>
    </div>
    <div class="motdBlock">
      <span class="love">made with <SVGIcon src="/icons/heart-filled.svg" /> by jackie</span>
      <img src="/sharkaccino/thumb.png" />
      <div class="flavorText">
        <span>&ldquo;</span>
        <FlavorText client:load />
        <span>&rdquo;</span>
      </div>
    </div>
    <div class="siteMetaBlock">
      <div>
        <span>last updated:</span>
        <code>
          <time datetime={buildTime.toISOString()}>
            {buildTime.toUTCString().toLocaleLowerCase()}
          </time>
          <br>
          <RelativeBuildTime buildTime={buildTime} client:load />
        </code>
      </div>
      <div>
        <span>revision hash:</span>
        <code>
          {revHash}
        </code>
      </div>
    </div>
  </div>
  
  <span>no AI/LLM was used in the creation of this website or the content it provides</span>
</footer>

<style lang="scss">
  footer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    width: 100vw;
    padding: var(--content-gap-medium);
    padding-bottom: var(--content-gap-large);
    box-sizing: border-box;

    .jumpToStart {
      background-color: var(--trim);
      color: var(--box-bg);

      &:is(:hover, :focus-visible) {
        background-color: var(--trim-hover);
      }
    }

    .orientationFlipper {
      width: 100%;
      max-width: var(--content-width-medium);
      padding: 0 var(--content-gap-large);
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: calc(var(--content-gap-large) * 2);
      box-sizing: border-box;
      margin-top: var(--content-gap-large);
      margin-bottom: var(--content-gap-small);
    }

    .copyrightBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      text-align: center;

      span:first-of-type {
        margin-bottom: 1rem;
      }
    }

    .motdBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 8rem;
        user-select: none;
        background-color: currentColor;
        object-position: 9999px 0;
        mask-image: url('/sharkaccino/thumb.png');
        mask-mode: luminance;
        mask-size: cover;
      }

      .flavorText {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 0.25rem;
        width: 100%;
        font-style: italic;
        margin-top: 0.25rem;

        > span {
          font-size: 2.5rem;
          transform: translate(-22%, -25%);
        }

        // :global() needed here to prevent scoping which wont work with solid components
        :global(a) {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--footer-text);
          text-align: center;
        }
      }
    }

    .siteMetaBlock {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    .love {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5ch;
    }
  }
</style>