---
import SVGIcon from "./SVGIcon";
import ThemeSwitcher from "./ThemeSwitcher";

function checkPage(name: string): string {
  const match = Astro.routePattern.match(`^\/[^\/]{0,}`);
  if (match == null) return ``;
  if (match[0] == name) return `selected`;
  return ``;
}

// TODO: mobile sidebar
---

<header>
  <div class="headerContent">
    <a class="title" href="/">
      <img src="/favicon.svg" />
      <h2>sharkaccino</h2>
    </a>
    <!-- <a class={checkPage(`/`)} href="/">
      home
    </a> -->
    <a class={checkPage(`/blog`)} href="/blog">
      blog
    </a>
    <a class={checkPage(`/projects`)} href="/projects">
      projects
    </a>
    <a class={checkPage(`/gallery`)} href="/gallery">
      gallery
    </a>
    <a class={checkPage(`/equipment`)} href="/equipment">
      equipment
    </a>
    <a class={checkPage(`/commissions`)} href="/commissions">
      commissions
    </a>
    <a class={checkPage(`/links`)} href="/links">
      links
    </a>
    <div class="themeSwitch">
      <SVGIcon src="/icons/theme-switch/sun.svg"/>
      <label>
        <ThemeSwitcher client:only/>
      </label>
      <SVGIcon src="/icons/theme-switch/moon.svg"/>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bg);
    width: 100vw;
    height: calc(var(--content-gap-large) + (var(--content-gap-small) * 2));
    padding: var(--content-gap-small);
    box-sizing: border-box;
    gap: var(--content-gap-small);

    .headerContent {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: var(--content-width-medium);

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        margin-right: auto;
        color: var(--text);

        img {
          height: 100%;
          background-color: var(--trim);
          // cursed method of achieving recolorable img while preserving context menu functionality
          object-position: 100vh 100vh;
          mask-image: 
            url('/favicon.svg'),
            linear-gradient(#000 0 0);
          mask-composite: exclude;
          mask-mode: luminance;
        }

        h2 {
          font-weight: normal;
        }
      }

      a:not(.title) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 var(--content-gap-medium);

        &.selected {
          color: var(--box-bg);
          background-color: var(--trim);

          &:is(:hover, :focus-visible) {
            background-color: var(--trim-hover);
            text-decoration-color: var(--box-bg);
          }
        }
      }

      .themeSwitch {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        margin-left: var(--content-gap-large);

        label {
          position: relative;
          display: block;
          width: var(--content-gap-large);
          height: var(--content-gap-medium);
          border: 2px solid var(--text);
          border-radius: 9999px;
          box-sizing: border-box;

          &:before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            aspect-ratio: 1;
            background-color: var(--text);
            border-radius: 9999px;
            margin: 2px;
            transition: all 250ms var(--anim-timing);
          }

          :global(input) {
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            appearance: none;
            border: none;
            background: none;
            margin: 0;
          }
        }
      }
    }
  }

  // doing this instead of just looking at the checkbox because 
  // this way the switch doesn't flicker on page loads

  @media screen and (prefers-color-scheme: dark) {
    :root:not(.light, .dark) {
      header .themeSwitch > label:before {
        left: 100%;
        transform: translateX(calc((100% + 4px) * -1));
      }
    }
  }

  :root.dark {
    header .themeSwitch > label:before {
      left: 100%;
      transform: translateX(calc((100% + 4px) * -1));
    }
  }
</style>