.pagination {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	padding: calc(var(--edge-pad) / 2);
	gap: var(--inner-void-gap);
	justify-content: space-between;

	.prevButton, .nextButton {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(var(--inner-void-gap) * 3);
		aspect-ratio: 1;
		color: var(--text);
		background-color: var(--secondary-box-bg);

		&:not(.enabled) {
			pointer-events: none;
			opacity: 0.33;
		}

		&:is(:hover, :focus-visible) {
			background-color: var(--secondary-box-bg-hover);
		}
	}

	.prevButton {
		grid-column: 1;
	}

	.index {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-column: 2;
		justify-self: center;
		padding: 0 1rem;
	}

	.nextButton {
		grid-column: 3;
		justify-self: flex-end;
	}
}