.browser {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--content-gap-small);
	align-self: start;

	aside {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--content-gap-medium);
		padding: var(--content-gap-medium);

		.hbox {
			display: flex;
			flex-direction: row;
			gap: var(--content-gap-small);
			width: 100%;
			height: var(--content-gap-large);

			.rss {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #e76317;
				color: #FFF;
				aspect-ratio: 1;

				&:is(:hover, :focus-visible) {
					background-color: #f37933;
				}
			}
		}

		.searchIndicator {
			display: flex;
			align-items: center;
			width: 100%;
			overflow: hidden;
			margin: calc(var(--content-gap-medium) * -0.5) 0;

			&.active {
				margin: 0;

				h2 {
					opacity: 1;
				}
			}

			&:not(.active) {
				height: 0;
			}

			h2 {
				transition: none;
				opacity: 0;
				margin: 0;
			}
		}
	}

	.gridView, .listView, .dashView {
		position: relative;
		display: flex;
		align-items: flex-start;
		gap: var(--content-gap-small);
		width: 100%;
	}

	.gridView {
		$columns: 5;

		flex-direction: row;
		flex-wrap: wrap;
		padding: var(--content-gap-medium);

		> *:not(.listEndCap) {
			flex-basis: calc(((100% - (var(--content-gap-small) * ($columns - 1))) / $columns));
		}

		.listEndCap {
			margin: calc(var(--content-gap-medium) * -1) 0;
		}
	}

	.listView {
		flex-direction: column;
		padding: 0;
	}

	.dashView {
		flex-direction: column;
		padding: 0;
	}

	.listEndCap {
		width: 100%;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: none;

		h2 {
			opacity: 0.5;
			margin: 0;
		}
	}
}