.browser {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--content-gap-small);

	aside {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--content-gap-medium);
		padding: var(--content-gap-medium);

		.hbox {
			display: flex;
			flex-direction: row;
			gap: var(--content-gap-small);
			width: 100%;
			height: var(--content-gap-large);
		}

		.searchIndicator {
			display: flex;
			align-items: center;
			width: 100%;
			overflow: hidden;
			margin: calc(var(--content-gap-medium) * -0.5) 0;

			&.active {
				margin: 0;

				h2 {
					opacity: 1;
				}
			}

			&:not(.active) {
				height: 0;
			}

			h2 {
				transition: none;
				opacity: 0;
				margin: 0;
			}
		}
	}

	.gridView, .listView, .dashView {
		position: relative;
		gap: var(--content-gap-small);
		width: 100%;
	}

	.gridView {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: var(--content-gap-medium);

		> * {
			aspect-ratio: 1.5;
		}

		.listEndCap {
			margin: calc(var(--content-gap-medium) * -1) 0;
		}
	}

	.listView {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0;

		> * {
			width: 100%;
			height: 10rem;
		}
	}

	.dashView {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0;

		> * {
			width: 100%;
		}
	}

	.listEndCap {
		width: 100%;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: none;

		h2 {
			opacity: 0.5;
			margin: 0;
		}
	}
}

@media screen and (max-width: 1500px) {
	.browser .gridView {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1100px) {
	.browser .gridView {
		grid-template-columns: repeat(2, 1fr);
	}
}