.post {
  width: 100%;
  padding: var(--edge-pad);

  .featuredImage {
  	width: calc(100% + (var(--edge-pad) * 2));
  	height: auto;
		aspect-ratio: 2.33;
  	margin: calc(var(--edge-pad) * -1);
  	margin-bottom: 2rem;
  	mask-image: linear-gradient(to bottom, #aaa, black);
  	mask-mode: luminance;
  	mask-size: cover;

  	img {
  		object-fit: cover;
  		width: 100%;
  		height: 100%;
  	}
  }

  .title {
  	width: 100%;
  	overflow-wrap: anywhere;
		color: var(--text);

		h1 {
			margin: 0;
		}
  }

  .timestampBlock {
  	display: flex;
  	justify-content: space-between;
  	width: 100%;
  	margin-top: 0.75rem;

  	.updated {
  		opacity: 0.5;
  		font-style: italic;
  	}
  }

  .contentWrapper {
  	width: 100%;
  	margin-top: 2rem;
  	box-sizing: border-box;

  	:nth-last-child(2) {
  		margin-bottom: 0;
  	}
  }

  .contentWrapper ~ .empty {
    display: none;
  }

  .empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 6rem 2rem;
		opacity: 0.5;
	}

  .tags {
  	display: flex;
  	flex-wrap: wrap;
  	width: 100%;
  	list-style: none;
  	opacity: 0.5;
  	padding: 0;
  	gap: 0.25rem 1rem;
  	margin: 0;
  	margin-top: 2rem;

  	li {
  		display: inline-flex;
  		max-width: 100%;

			a {
				color: var(--text);

				span {
	  			word-wrap: break-word;
	  		}
			}
  	}
  }

	.shelf {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: calc(var(--inner-void-gap) * 3);
		margin-top: calc(var(--edge-pad) / 2);

		button {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: calc(var(--inner-void-gap) / 2);
			height: 100%;
			appearance: none;
			border: none;
			padding: calc(((var(--inner-void-gap) * 3) - 24px) / 2);
		}
	}
}