.listArticle {
	position: relative;
	width: 100%;
	height: 10rem;
	padding: var(--content-gap-medium);
	box-sizing: border-box;

	&:is(:hover, :focus-visible) {
		outline-offset: calc((var(--content-gap-large) / 4) * -1);
		text-decoration-color: transparent;

		h2 {
			transition-duration: 0ms;
			text-decoration-color: currentColor;
		}
	}

	article {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 60%;

		h2 {
			text-decoration-line: underline;
			text-decoration-color: transparent;
			overflow: hidden;
			overflow-wrap: anywhere;
			text-overflow: ellipsis;
			margin: 0;
			height: 2lh;
			mask-image: 
				linear-gradient(to right, #FFF 50%, transparent 100%),
				linear-gradient(#FFF 0 0);
			mask-size: 100% 1lh;
			mask-position: 
				0 1lh, 
				0 0;
			mask-repeat: no-repeat;
		}

		span:first-of-type {
			margin-top: auto;
		}

		span {
			color: var(--text);
		}

		.updated {
			opacity: 0.5;
		}

		img {
			position: absolute;
			top: 0;
			right: 0;
			object-fit: cover;
			width: auto;
			height: 100%;
			aspect-ratio: 2.33;
			mask-image: linear-gradient(to left, #aaa, black);
	  	mask-mode: luminance;
	  	mask-size: cover;
		}
	}
}