@font-face {
  font-family: "Hyperlegible";
  font-weight: light;
  src: url("/AtkinsonHyperlegibleNext-Light.ttf") format("truetype")
}

@font-face {
  font-family: "Hyperlegible";
  font-weight: normal;
  src: url("/AtkinsonHyperlegibleNext-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Hyperlegible";
  font-weight: bold;
  src: url("/AtkinsonHyperlegibleNext-Bold.ttf") format("truetype")
}

:root {
  --box-bg: #fafafa;
  --secondary-box-bg: #e9e9e9;
  --secondary-box-bg-hover: #ebcdd6;
  --footer-bg: #2c1c29;
  --footer-text: #ddc0ce;
  --text: #232229;
  --trim: #922d5c;
  --trim-hover: #a33a6b;

  --anim-timing: cubic-bezier(0,.65,.5,1);

  --content-width-large: 1600px;
  --content-width-medium: 1200px;
  --content-width-small: 800px;

  --content-gap-large: 2.5rem;
  --content-gap-medium: 1.25rem;
  --content-gap-small: 0.75rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --box-bg: #232229;
    --secondary-box-bg: #15151a;
    --secondary-box-bg-hover: #0a0a0c;
    --footer-bg: #232229;
    --footer-text: #dbd6dd;
    --text: #dbd6dd;
    --trim: #ffb581;
    --trim-hover: #ffd2b2;
  }
}

body {
  margin: 0;
  color: var(--text);

  #heightWrapper {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--content-gap-large);
    width: 100%;
    min-height: 100vh;
    transition: none;
    padding-bottom: var(--content-gap-large);
    box-sizing: border-box;
  }

  * {
    font-family: "Hyperlegible", Tahoma, Geneva, Verdana, sans-serif;

    &:focus-visible {
      outline: 2px solid var(--trim);
      outline-offset: 2px;
    }
  }

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/wallpaper.svg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -999;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  body *:not(header, main, footer) {
    transition: all 250ms var(--anim-timing);

    &:is(:hover, :focus-visible) {
      transition-duration: 0ms;
    }
  }
}

.contentBox, header, footer {
  position: relative;
  box-shadow: 0.6rem 0.6rem 16px #00000099;
}

.contentBox {
  background-color: var(--box-bg);
  box-sizing: border-box;
}

.large, .medium, .small {
  width: calc((100vw - (var(--content-gap-large) * 2)));
}

.large {
  max-width: var(--content-width-large);
}

.medium {
  max-width: var(--content-width-medium);
}

.small {
  max-width: var(--content-width-small);
}

a {
  color: var(--trim);
  text-decoration-color: transparent;

  &:is(:hover, :focus-visible) {
    color: var(--trim-hover);
    text-decoration-color: currentColor;
  }
}

code {
  font-size: 1rem;
}

button {
  background-color: var(--secondary-box-bg);

	&:is(:hover, :focus-visible) {
		background-color: var(--secondary-box-bg-hover);
	}
}