---
import { getCollection } from 'astro:content';
import Base from '../../../../../Base.astro';
import BlogPost from "../../../../../components/blog/BlogPost";
import { getUTCDateComponents } from '../../../../../util/dateTools';
import SVGIcon from "../../../../../components/SVGIcon";

// TODO: custom embed/opengraph content

// TODO: add button to return to post list

// TODO: return button component

const { year, month, day, postId } = Astro.params;

const yearNum = parseInt(year!);
const monthNum = parseInt(month!);
const dayNum = parseInt(day!);
const postIdNum = parseInt(postId!);

if (isNaN(yearNum) || isNaN(monthNum) || isNaN(dayNum) || isNaN(postIdNum)) {
	return Astro.rewrite(`/404`);
}

const posts = await getCollection(`blog`);

posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

let post = null;

for (const thisPost of posts) {
	const pubDate: Date = thisPost.data.pubDate;
	const dc = getUTCDateComponents(pubDate);

	const yearMatches = dc.year == yearNum;
	const monthMatches = dc.month == monthNum;
	const dayMatches = dc.day == dayNum;
	const postIdMatches = pubDate.getTime() == postIdNum;

	if (yearMatches && monthMatches && dayMatches && postIdMatches) {
		post = thisPost;
	}
}

if (post == null) {
	return Astro.rewrite(`/404`);
}
---

<Base title={post.data.title}>
	<div class="small">
		<aside class="contentBox">
			<a href="/blog">
				<SVGIcon src="/icons/chevron-left.svg" />
				return to list
			</a>
		</aside>
		<main>
			<BlogPost postData={post} />
		</main>
	</div>
</Base>

<style lang="scss">
	aside {
		display: flex;
		margin-bottom: var(--content-gap-small);
		padding: var(--content-gap-small);

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: calc(var(--content-gap-small) / 2);
			padding-left: calc(var(--content-gap-small) / 2);
			padding-right: var(--content-gap-small);
			height: var(--content-gap-large);
		}
	}
</style>