---
import { type GetStaticPaths } from "astro";
import { getCollection } from 'astro:content';
import Base from '../../../../../Base.astro';
import BlogPost from "../../../../../components/blog/BlogPost";
import { getUTCDateComponents } from '../../../../../util/dateTools';
import SVGIcon from "../../../../../components/SVGIcon";

// TODO: custom embed/opengraph content

// TODO: add button to return to post list

// TODO: return button component

export const getStaticPaths = (async () => {
	const posts = await getCollection(`blog`);

	posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

	const output = [];

	for (let i = 0; i < posts.length; i++) {
		const post = posts[i];
		const pubDate: Date = post.data.pubDate;
		const dc = getUTCDateComponents(pubDate);

		output.push({ 
			params: {
				postId: pubDate.getTime(),
				year: dc.year,
				month: dc.month,
				day: dc.day
			},
			props: { post }
		});
	}

	return output;
}) satisfies GetStaticPaths;

const { post } = Astro.props;

---

<Base title={post.data.title}>
	<div class="small">
		<aside class="contentBox">
			<a href="/blog">
				<SVGIcon src="/icons/chevron-left.svg" />
				return to list
			</a>
		</aside>
		<main>
			<BlogPost postData={post} />
		</main>
	</div>
</Base>

<style lang="scss">
	aside {
		display: flex;
		margin-bottom: var(--content-gap-small);
		padding: var(--content-gap-small);

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: calc(var(--content-gap-small) / 2);
			padding-left: calc(var(--content-gap-small) / 2);
			padding-right: var(--content-gap-small);
			height: var(--content-gap-large);
		}
	}
</style>